body {
  background-color: #eff2f4;
  font-family: 'Roboto', Helvetica, "Lucida", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #5e5e5e;
}
p {
  font-size: 16px;
}
.section-content {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 600px) 
{
  .section-content 
   {
    width: 100%;
   }
}
h3 {
  margin-right: 5px;
}
.chapa-content{
  margin-bottom: 30px;
}
.header{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: rgb(0, 0, 0);
  z-index: 99;
  text-align: center;
}

#loading-image {
  width: 430px;
  height: 430px;
  position: absolute; 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}